@tailwind base;
@tailwind components;
@tailwind utilities;


.rubik{
    font-family: 'Rubik', sans-serif;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.josephin {
    font-family: 'Josefin Sans', sans-serif;
}

.whole {
    top: 2vh;
    min-width: 25vw;
    min-height: 25vh;
    z-index: 0;
}

.container {
    display: flex;
    position: absolute;
    padding: 1rem;
    margin: 0;
    width: 24rem;
    height: 10rem;
    transform: translate(48vw, -10vh);
    background: rgb(214, 234, 145);
    border-radius: 10px;
    /* transform: translate(55vw, 0); */
}

@media screen and (max-width: 1600px) {

    .card {
        width: 30rem;
        height: 15rem;
        display: flex;
        position: relative;
        background: rgb(214, 234, 145); /*#5c9975 linear-gradient(to bottom left, #f0d632, #fb03ff)*/
        box-shadow: 1px, 1px 1px rgba(0,0,0,.3);
        padding: 3vh;
        margin: 0vh 1vh 1vh 0vh;
        transform: translate(55vw, 0);
    }
}

.front-face,
.back-face {
  border-radius: 2rem;
  backface-visibility: hidden;
}

.profile-picture {
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    transition-duration: 300ms;
}

.profile-picture:hover {
    border-radius: 13px;
}

.timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(2.5rem, -1rem);
}

.streak {
    color: rgb(234, 159, 8);
    font-family: 'Josefin Sans', sans-serif; /*josefin text-xl font-semibold text-teal-700*/
    font-size: large;
    font-weight: 500;
}

.description {
    display: flexbox;
    position: relative;
    justify-content: space-around;
    width: inherit;
    height: inherit;
}

.basic-info {
    font-family: 'Lora', serif;
    height: 50%;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.buttons {
    display: flex;
    align-items: end;
    justify-items: end;
}

.button {
    transition-duration: 150ms;
    background-color: transparent;
    color: rgb(13 148 136);
    border-radius: 5px;
    font-weight: 700;
    border-color: teal;
    border-width: 1px;
}

.button:hover {
    color: rgb(234 179 8);
}

.focused {
    background-color: rgb(13 148 136);
}

.time-fields {
    background-color: rgb(214, 234, 145);
    width: 3rem;
    height: 3rem;
    text-align: center;
    color: teal;
    font-size:xx-large;
    font-family: 'Rubik', sans-serif;
}

/*Removes arrows from number input fields on Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*Removes arrows from number input fields on Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#minutes-field {
    border-radius: 0.3rem 0rem 0rem 0.3rem;
}

#seconds-field {
    border-radius: 0rem 0.3rem 0.3rem 0rem;
}

.LinkedIn {
    background-color: #1881ba;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    text-align: center;
    justify-content: center;
}

.GitHub {
    background-color: black;
}

.logo { /*"https://pngimg.com/uploads/linkedIn/linkedIn_PNG27.png"*/
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    transition-duration: 150ms;
}

.logo:hover {
    width: 2.5rem;
    height: 2.5rem;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.trophies {
    width: 100%;
    height: 50%;
    display: flex;
}

img.trophy {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    position: relative;
    margin-top: 3rem;
}

