<div class="w-100">
    <div class="container">
        <ul class="inline">
            <li>
                <a href="#">Home</a>
            </li>
            <li class="inline moved">              
                <a routerLink="/login" routerLinkActive="Active" ariaCurrentWhenActive="page">Login</a>
            </li>
            <li class="inline moved">
                <a routerLink="/register" routerLinkActive="Active" ariaCurrentWhenActive="page">Sign in</a>
            </li>
        </ul>
    </div>
</div>