@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    overscroll-behavior-block:contain;
}

ul {
    display: inline;
    margin: 0px;
    padding: 0px;
}

li {
    display: inline;
    margin: 0px 20px 0px 0px;
    background: rgb(89, 88, 88); /* Try rgb(214, 234, 145) or rgb(244, 255, 223, 1) */
    transition-duration: 250ms;
}


li a {
    font-size: 6vh;
    /* color: teal; */
    color: teal;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 800;
    transition-duration: 250ms;
}
@media screen and (min-width: 1600px) {
    li a {
       font-size: 60px;
    }
  }

li a:hover {
    color: rgb(214, 234, 145);
}

li:hover {
    background: teal;
}