<nav class="toolbar">
    <ul class="inline">
        <li class="inline mr-12">
            <a class="Bruno">Bruno</a>
        </li>
        <li class="inline mr-12">
            <a class="toolbar-items">About</a>
        </li>
        <li class="inline mr-12">
            <a class="toolbar-items">Contact</a>
        </li>
    </ul>
</nav>
<div class="main">
    <div id="sidebar" class="side-bar">
        <a href="#" id="background-nav">🌴Background</a> <!--/* Use ids and set their tops in css */ -->
        <a href="#" id="shop-nav">🔓Shop</a>
        <a href="#" id="todo-nav">🗒️To Do</a>
        <a href="#" id="quotes-nav">🪶Quotes</a>
    </div>
      
    <app-card></app-card>
</div>
