<div class="container" id="todo">
    <div class="close" (click)="this.toggleToDo()">
        <img id="1" src="../../assets/img/icons/cross.svg">
    </div>
    <section class="title josephin">TO DO</section>
    <div id="tasks">
        <label id="1a" class="task-container">
            <input type="checkbox">
            <span class="checkmark"></span>
            <div class="flex">
                <input type="text" placeholder="Enter Task">
                <a (click)="this.removeTask('1')"><img class="icon" id="1" src="../../assets/img/icons/trash.svg"></a>
            </div>
        </label>
        <!-- <label *ngFor="let task of tasks" class="task-container">
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
            <input type="text" placeholder="Enter Task">
        </label> -->
    </div>
    <div class="add" (click)="this.addTask()" id="+">+</div>
</div>